.barra-superior, .titulo, .MenuDoConteudo, h1, table, body, #conteudo, #VisaoGeral, #ControleDeCompras, #Outro {border:0;padding:0;margin:0}
.barra-superior {background-color:#E1BD08;top:0px;height:100px}
.titulo {height:60%}
.menu-superior {height:40%}
.MenuDoConteudo {margin-top: 12px;width: 90%;margin-left: 5%}
.TabelaConteudo tbody tr th,td{border:solid 1px #A0550F; padding:10px}
.TabelaConteudo tbody tr td {color:#E1E1E1}
#VisaoGeral, #ControleDeCompras, #Outro {position:absolute;top:100px;width:100%}
#ControleDeCompras, #Outro {visibility: hidden}
h1, h3, table {font-family: 'Faustina', serif;color:#A0550F;text-align: center;}
h3 {margin-top:10px}
datalist   {background-color: black}
/*h1, th {text-align:center}*/
table {width:100%}
button {color:#121627;background-color:#E1BD08;border:0;padding:0;padding:5px;}
button:hover {background-color:#FCD40D}
th {width: 33%}
.introd {color:#E1E1E1;text-align:center;}
body {font-family: 'Faustina', serif;background-color:#121627;height:100%;}
